.git/
/algorithm/Algorithm/bin
/algorithm/Algorithm/obj
/algorithm/Algorithm/.vs
/algorithm/Algorithm/Old

/algorithm/AlgorithmTests/.vs
/algorithm/AlgorithmTests/bin
/algorithm/AlgorithmTests/obj
/algorithm/AlgorithmTests/Old

/main/Main/.vs
/main/Main/bin
/main/Main/obj

/main/Main.Tests/bin
/main/Main.Tests/obj

**/jsconfig.json

/mockups
*.drawio

**/app.db
**/app.db-shm
**/app.db-wal

**/.DS_Store


