.git/
/algorithm/Algorithm/bin
/algorithm/Algorithm/obj
/algorithm/Algorithm/.vs
/algorithm/AlgorithmTests/.vs
/algorithm/AlgorithmTests/bin
/algorithm/AlgorithmTests/obj

/main/Main/.vs
/main/Main/bin
/main/Main/obj

/staff/jsconfig.json

/mockups
*.drawio

**/app.db
**/.DS_Store