@page
@model IndexModel
@{
    ViewData["Title"] = "Harmony.io - Profil";
}

<div class="w-100 d-flex flex-column gap-2">
    <a class="btn btn-outline-primary w-100" asp-page="ChangeAvatar">Awatar</a>
    <a class="btn btn-outline-primary w-100" asp-page="ChangeName">Imię i Nazwisko</a>
    <a class="btn btn-outline-primary w-100" asp-page="ChangePassword">Zmień Hasło</a>
</div>
