@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<p class="text-primary" style="text-align: justify;">
    Twoje konto nie posiada aktualnie żadnego hasła.
    Dodaj hasło, aby nie musieć logować się przy pomocy zewnętrzych serwisów.
</p>
<div class="w-100">
    <form id="set-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="mb-3">
            <label asp-for="Input.NewPassword" class="ps-1 pb-1 fw-bold">Nowe hasło</label>
            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Wpisz nowe hasło"/>
            <span asp-validation-for="Input.NewPassword" class="text-danger small"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Input.ConfirmPassword" class="ps-1 pb-1 fw-bold">Powtórz hasło</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Powtórz nowe hasło"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
        </div>

        <button type="submit" class="w-100 mt-3 btn btn-lg btn-primary">Utwórz hasło</button>
    </form>
</div>

<script>
    document.getElementById("layout-main-container").classList.remove("overflow-auto");
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
