@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<head>
    <link rel="stylesheet" href="~/css/bg-pattern-style.css" />
</head>

<div class="h-100 w-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column p-3 border border-dark rounded bg-white" style="width: 400px; margin-top: -15px;">
        <div class="alert alert-danger">
            <h4 class="alert-heading text-center mx-auto mb-3">Brak dostępu!</h4>
            <p>Nie możesz uzyskać dostępu do tej strony. Sprawdź, czy podany URL jest poprawny.</p>
        </div>

        <a href="/Index" class="btn btn-primary mx-auto">Przejdź do strony głównej</a>
    </div>
</div>
