@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center" style="min-height: 100%;"> 
    <div class="bg-white rounded shadow p-3 mb-3" style="width: 400px;">
        <h2 class="text-center fw-bold mb-4">Dokończ rejestrację</h2>
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <div class="mb-3">
                    <label asp-for="Input.FirstName" class="fw-bold ps-1 pb-1">Imię</label>
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.FirstName" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.LastName" class="fw-bold ps-1 pb-1">Nazwisko</label>
                    <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.LastName" class="text-danger small"></span>
                </div>
                @if(Model.Input.Email == null || Model.Input.Email == "")
                {
                    <div class="mb-3">
                        <label asp-for="Input.Email" class="fw-bold ps-1 pb-1">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="Input.Email" value="@Model.Input.Email"/>
                }
            </div>
            <button type="submit" class="w-100 btn btn-primary p-2 mt-3">Zakończ</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
