@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Nie pamiętam hasła";
}

<div class="d-flex justify-content-center align-items-center h-100 pb-3"> 
    <div class="bg-white rounded shadow p-3 mb-3" style="width: 400px;">
        <i class="fas fa-envelope-open-text my-4 w-100 text-center" style="font-size: 100px;"></i>

        <div class="fw-semibold fs-5 text-center mb-2">Link do resetowania hasła został wysłany</div>

        <div class="small text-center">Na Twój adres e-mail została wysłana wiadomość z linkiem do resetowania hasła. Jeśli nie widzisz jej w skrzynce odbiorczej, sprawdź folder spamu.</div>

        <a asp-page="./Login" class="w-100 btn btn-primary p-2 mt-4">Wróć do logowania</a>
    </div>
</div> 
