@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Nie pamiętam hasła";
}

<div class="d-flex justify-content-center align-items-center h-100 pb-3"> 
    <div class="bg-white rounded shadow p-3 mb-3" style="width: 400px;">
        <h2 class="text-center fw-bold mb-4">Resetuj hasło</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="fw-bold ps-1 pb-1"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Wprowadź adres email..." />
                <span asp-validation-for="Input.Email" class="text-danger small"></span>
            </div>
            <button type="submit" class="w-100 btn btn-primary p-2">Resetuj hasło</button>
        </form>
    </div> 
</div> 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
