@page
@using Main.Utils
@model RegisterModel
@{
    ViewData["Title"] = "   Register";
}

<div class="d-flex justify-content-center" style="min-height: 100%;"> 
    <div class="bg-white rounded shadow p-3 mb-3" style="width: 400px;">
        <h2 class="text-center fw-bold mb-4">Utwórz konto</h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="mb-3">
                <label asp-for="Input.FirstName" class="fw-bold ps-1 pb-1">Imię</label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.FirstName" class="text-danger small"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.LastName" class="fw-bold ps-1 pb-1">Nazwisko</label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.LastName" class="text-danger small"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Input.Email" class="fw-bold ps-1 pb-1">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger small"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password" class="fw-bold ps-1 pb-1">Hasło</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger small"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="fw-bold ps-1 pb-1">Powtórz hasło</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-primary p-2 mt-3">Zarejestruj się</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    document.getElementById("layout-main-container").classList.remove("overflow-auto");
</script>