@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Hasło zresetowane";
}

<div class="d-flex justify-content-center align-items-center h-100 pb-3"> 
    <div class="bg-white rounded shadow p-3 mb-3" style="width: 400px;">
        <i class="fas fa-circle-check my-4 w-100 text-center" style="font-size: 100px;"></i>

        <div class="fw-semibold fs-5 text-center mb-2">Hasło zostało zresetowane</div>

        <div class="small text-center">Udało ci się pomyślnie zresetować hasło. Kliknij w przycisk poniżej, aby się zalogować.</div>

        <a asp-page="./Login" class="w-100 btn btn-primary p-2 mt-4">Zaloguj się</a>
    </div>
</div> 

 