@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Zresetuj hasło";
}

@* <h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div> *@

<div class="d-flex justify-content-center" style="min-height: 100%;"> 
    <div class="bg-white rounded shadow p-3 mb-3" style="width: 400px;">
        <h2 class="text-center fw-bold mb-4">Resetuj hasło</h2>

        <div class="w-100">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="mb-3">
                    <label asp-for="Input.Email" class="ps-1 pb-1 fw-bold">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Wprowadź swój email" />
                    <span asp-validation-for="Input.Email" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="ps-1 pb-1 fw-bold">Nowe hasło</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Wprowadź nowe hasło" />
                    <span asp-validation-for="Input.Password" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="ps-1 pb-1 fw-bold">Powtórz nowe hasło</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Powtórz nowe hasło"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
                </div>

                <button type="submit" class="w-100 mt-3 btn btn-lg btn-primary">Resetuj hasło</button>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
