@page
@model Main.Pages.IndexModel
@{
}

<style>
    .tile {
        width: 100%;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        transition: transform 0.2s;
        text-align: center;
        text-decoration: none;
    }

    .tile:hover {
        transform: scale(1.05); 
    }

    .tile h3 {
        margin: 0;
        font-weight: bold;
    }
</style>


<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        @if (Model.User.IsInRole("Creator"))
        {
            <!-- Create -->
            <div class="col-4 mb-4">
                <a href="/create"
                   class="tile d-flex align-items-center justify-content-center flex-column p-4"
                   style="background-color: gray; color: white">

                    <h3 class="mb-2">Create</h3>

                    <img src="img/tmp.png" alt="test"/>
                </a>
            </div>
        }
        else
        {
            <!-- Join -->
            <div class="col-4 mb-4">
                <form method='get' action="/solve"
                   class="tile d-flex align-items-center justify-content-center flex-column p-4"
                   style="background-color: darkgray; color: white">

                    <h3 class="mb-2">Join</h3>
                    
                    <input id="code" name="id" type="text" placeholder="Quiz code" required/>
                    
                    <button type="submit" class="btn btn-light m-2">Join</button>
                </form>
            </div>
        }
        <!-- List -->
        <div class="col-4 mb-4">
            <a href="@(Model.User.IsInRole("Creator") ? "/Created" : "/Assigned")"
               class="tile d-flex align-items-center justify-content-center flex-column p-4"
               style="background-color: dimgray; color: white">

                 <h3 class="mb-2">List</h3>
                
                <img src="img/tmp.png" alt="test"/>
            </a>
        </div>
    </div>
</div>