@page
@model Main.Pages.ListCreate
@{
}

<div class="container mt-5">
    <div class="row">
        <div class="col-7">

            <div class="row mb-3">
                <h2>Utworzone</h2>
            </div>
            <div class="row mb-3">
                <div class="p-2">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <strong>Nazwa</strong>
                        </div>
                        <div class="col-3">
                            <div class="d-flex flex-row align-items-center">
                                <strong>Stan</strong>
                                <select class="form-select form-select-sm" aria-label="Filtruj">
                                    <option selected>Filtruj</option>
                                    <option value="1">Nie otwarte</option>
                                    <option value="2">Otwarte</option>
                                    <option value="3">Zakończone</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-3">
                            <strong>Data zakończenia</strong>
                        </div>
                        <div class="col-3 text-end">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="card p-3 bg-light">
                    <div class="row align-items-center">
                        <div class="col-3">
                            Kartkówka
                        </div>
                        <div class="col-3">
                            Nie otwarte
                        </div>
                        <div class="col-3">
                            dd/mm/yyyy
                        </div>
                        <div class="col-3 text-end">
                            <a href="#" class="btn btn-outline-primary btn-sm">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="card p-3 bg-light">
                    <div class="row align-items-center">
                        <div class="col-3">
                            do domu
                        </div>
                        <div class="col-3">
                            Otwarte
                        </div>
                        <div class="col-3">
                            dd/mm/yyyy
                        </div>
                        <div class="col-3 text-end">
                            <a href="#" class="btn btn-outline-primary btn-sm">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="card p-3 bg-light">
                    <div class="row align-items-center">
                        <div class="col-3">
                            kart. 3
                        </div>
                        <div class="col-3">
                            Zakończone
                        </div>
                        <div class="col-3">
                            dd/mm/yyyy
                        </div>
                        <div class="col-3 text-end">
                            <a href="#" class="btn btn-outline-primary btn-sm">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-4">

            <div class="row mb-3">
                <h2>Szkice</h2>
            </div>
            <div class="row mb-3">
                <div class="p-2">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <strong>Nazwa</strong>
                        </div>
                        <div class="col-6 text-end">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="card p-3 bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            Kartkówka
                        </div>
                        <div class="col-6 text-end">
                            <a href="#" class="btn btn-outline-primary btn-sm">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="card p-3 bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            do domu
                        </div>
                        <div class="col-6 text-end">
                            <a href="#" class="btn btn-outline-primary btn-sm">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="card p-3 bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            kart. 3
                        </div>
                        <div class="col-6 text-end">
                            <a href="#" class="btn btn-outline-primary btn-sm">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="card p-3 bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            Zad 4
                        </div>
                        <div class="col-6 text-end">
                            <a href="#" class="btn btn-outline-primary btn-sm">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>