@page
@model Main.Pages.PublishModel

<form method="post" class="h-100 w-100">
    <div class="h-100 w-100 d-flex flex-column">
        <div class="flex-grow-1 d-flex overflow-auto">
                <div class="mb-3">
                    <label asp-for="QuizName" class="form-label"></label>
                    <input asp-for="QuizName" class="form-control">
                    <span asp-validation-for="QuizName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="OpenDate" class="form-label"></label>
                    <input asp-for="OpenDate" class="form-control">
                    <span asp-validation-for="OpenDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CloseDate" class="form-label"></label>
                    <input asp-for="CloseDate" class="form-control">
                    <span asp-validation-for="CloseDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <hr class="hr">

        <div class="bottom-bar d-flex align-items-center">
            <a asp-page="Creator" asp-route-id="@Model.QuizId" class="btn btn-danger btn-std-width">Powrót</a>
            <button type="submit" asp-page-handler="Save" class="btn btn-primary btn-std-width ms-auto">Zapisz kopię w szkicach</button>
            <button type="submit" asp-page-handler="Submit" class="btn btn-primary btn-std-width ms-3">Opublikuj</button>
        </div>
        <input type="hidden" asp-for="QuizId" value="@Model.QuizId" />
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}