.task {
    height: 120px;
    min-height: 120px;
    padding: 15px;
}

.task-add {
    cursor: pointer;
    color: #666;
    border-style: dashed;
}

.task-creator {
    justify-content: space-between;
    display: flex;
}

.plus {
    margin-right: 10px;
}

.task-number {
    text-align: center;
    font-size: 1.5em;
    width: 86px;
}

.delete-btn {
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}