.quiz-add {
    text-align: center;
    cursor: pointer;
    color: var(--bs-gray-600);
    border-style: dashed;
}

.quiz {
    min-height: 168px;
}

.icon-img {
    width: 25px; 
    height: 25px;
}
