.quiz-add {
    text-align: center;
    cursor: pointer;
    color: var(--bs-gray-600);
    border-style: dashed;
    height: 80px;
    min-height: 80px;
    background-color: transparent;
}

.icon-img {
    width: 25px;
    height: 25px;
}
