.quiz {
    padding: 15px;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}

.quiz-add {
    text-align: center;
    cursor: pointer;
    color: #6e757c;
    border-style: dashed;
    height: 168px;
    min-height: 168px;
    background-color: transparent;
}

.icon-img {
    width: 25px;
    height: 25px;
}
