html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Navbar*/

.nav-underline {
    opacity: 1;
}

.nav-link {
    text-decoration: none
}

.nav-logo{
    width: 40px;
    height: 40px;
}

/*Shared*/

.font-title {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.bg-pattern-sm {
    background: url('/images/bg-pattern.png') repeat, linear-gradient(#2d53b2, #426edb);
    background-size: 256px 256px, cover;
    background-position: 0 0, center;
}

.input-error {
    border: 1px solid var(--bs-danger-border-subtle);
    background-color: var(--bs-danger-bg-subtle);
}

.hover-primary:hover{
    background-color: var(--bs-primary);
    color: white;
    border-color: var(--bs-primary);
}
.hover-primary:focus:active {
    background-color: #0b5ed7;
    color: white;
    border-color: #0b5ed7;
}

.overflow-md-auto {
    overflow: auto;
}

@media (max-width: 768px) { 
    .overflow-md-auto {
        overflow: visible;
    }
}

.hr {
    height: 1px;
    min-height: 1px;
    margin: 0;
}

.hr, .vr {
    border-color: gray;
    background-color: gray;
    color: gray;
    opacity: 1;
}

.btn-std-width {
    width: 150px;
}

.btn-sm-width {
    width: 120px;
}

.btn-tiny-width{
    width: 30px;
    min-width: 30px;
}

.question-area {
    min-height: 80px;
}

.question-square {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    height: 80px;
}

.three-dots-img {
    width: 11px;
    height: 11px;
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
    color: black;
    cursor: pointer;
}
.btn-icon:focus {
    outline: none; 
}

.icon-sm {
    font-size: 24px;
    text-align: center;
    justify-content: center;
    width: 30px;
}

.icon-lg {
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.no-style {
    all: unset;
    text-decoration: none;
}

body {
    background: url('/images/bg-pattern.png') repeat, linear-gradient(#2d53b2, #426edb);
    background-size: 38vw 38vw, cover;
    background-position: 0 0, center;
    background-attachment: fixed;
    padding-top: 93px;
}

/* OTHER */

.grid-quizes{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    gap: 1rem;
}
@media (max-width: 500px) {
    .grid-quizes {
      display: flex;
      flex-direction: column;
    }
}

#pinUrlArea{
    display: grid; 
    grid-template-columns: repeat(2, minmax(100px, 1fr)); 
    gap: 1rem;
}
@media (max-width: 500px) {
    #pinUrlArea {
        display: flex; 
        flex-direction: column;
    }
}

.sidebar{
    width: 255px; 
    min-width: 255px;
}

.non-interactive {
    pointer-events: none;      
    color: inherit;         
}

.non-interactive:hover, .non-interactive:focus {
    background-color: inherit; 
    color: inherit;
    border-color: inherit;
}


