.timer-img {
    width: 35px;
    height: 35px;
}

.music-staff {
    padding: 15px;
    align-items: center;
    border-width: 1px;
    border-color: gray;
    border-radius: 10px;
    border-style: solid;
}

.toolbox {
    width: 200px;
    padding: 15px;
    align-items: center;
    border-width: 1px;
    border-color: gray;
    border-radius: 10px;
    border-style: solid;
}