@*
ADD USERS MODAL POPUP

ATRYBUTY:
    - data-adding-admins: Bool, jeżeli jest true to dodajemy adminów, jeżeli false to zwykłych użytkowników
    - data-callback-name: Nazwa callbacku js, wywołanego przy wciśnięciu przycisku dodaj. Callback ten musi zawierać 2 argumenty - assignedEmails i areAdmins oraz zwracać null w przypadku powodzenia lub listę niepoprawnych emaili w przypadku niepowodzenia
*@

<div class="modal fade" id="addUsersPopup" tabindex="-1" role="dialog" aria-labelledby="addUsersPopupCenterTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 650px;">
        <div class="modal-content d-flex flex-row overflow-hidden">
            <div class="col-4 bg-pattern-sm text-white d-flex flex-column text-center align-items-center justify-content-center p-3">
                <span class="fw-bold fs-4 mb-1">Dodawanie</span>
                <p>Możesz dodać do swojej grupy członków podając ich adresy email. Otrzymają oni wtedy w swojej skrzynce zaproszenia do grupy, a po zaakceptowaniu staną się jej częścią!</p>
            </div>

            <div class="col-8 d-flex flex-column">
                <div class="d-flex flex-row modal-header">
                    <span id="addUsersTitle" class="fw-bold fs-4">Dodaj uczestników grupy</span>
                    <button type="button" class="ms-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="d-flex flex-column overflow-auto p-3">
                    <div class="rounded shadow-sm d-flex flex-column border mb-3">
                        <div class="bg-light rounded-top d-flex flex-row fw-bold p-2">
                            <span>Wpisz email użytkownika</span>
                        </div>

                        <hr class="m-0 border border-1" />

                        <div class="p-2">
                            <input id="addEmailInput" class="form-control" type="email" placeholder="user@example.com" required />
                        </div>
                    </div>

                    <div class="rounded shadow-sm d-flex flex-column border" style="height: 205px;">
                        <div class="bg-light rounded-top d-flex flex-row fw-bold p-2">
                            <span id="newUsersTitle" class="me-1">Nowi uczestnicy</span>
                            <span id="emailsNumber">(2)</span>
                        </div>

                        <hr class="m-0 border border-1" />

                        <div id="emailListContainer" class="p-2 overflow-auto">
                            @*FILLED VIA JS*@
                        </div>
                    </div>

                    <div id="addValidationText" class="text-danger mt-2 d-none">
                        Niektórzy z podanych użytkowników nie istnieją lub są już dodani do grupy!
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm-width" id="addCancelButton" data-bs-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary btn-sm-width" id="addUserButton">Dodaj</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    let addUsersPopup = document.getElementById('addUsersPopup');
    let addUserButton = addUsersPopup.querySelector('#addUserButton');
    let assignModalButton;

    let addingAdmins = false;
    let assignedEmails = [];
    let wrongEmails = [];

    const validationText = addUsersPopup.querySelector('#addValidationText');
    let emailInput = document.getElementById("addEmailInput");
    const emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

    emailInput.addEventListener("focusout", addEmail);
    emailInput.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            emailInput.blur();
        }
    });

    addUsersPopup.addEventListener('show.bs.modal', function (event) {
        assignModalButton = event.relatedTarget;

        addingAdmins = assignModalButton.getAttribute('data-adding-admins') === "true";
        assignedEmails = [];
        wrongEmails = [];

        updateEmailsList();

        addUsersPopup.querySelector('#addUsersTitle').innerText = addingAdmins ? "Dodaj adminów grupy" : "Dodaj uczestników grupy";
        addUsersPopup.querySelector('#newUsersTitle').innerText = addingAdmins ? "Nowi admini" : "Nowi uczestnicy";;

    });

    addUserButton.addEventListener('click', function (event) {
        const closebutton = document.getElementById('addCancelButton');

        let callbackName = assignModalButton.getAttribute('data-callback-name');

        if (typeof window[callbackName] === 'function') {
            wrongEmails = window[callbackName](assignedEmails, addingAdmins);

            if (wrongEmails == null || wrongEmails.length == 0){
                closebutton.click();
            } else {
                updateEmailsList();
            }
        } else {
            console.error("Callback function not found:", callbackName);
        }
    });

    function isValidEmail(email) {
        return emailReg.test(email) && !assignedEmails.includes(email);
    }

    function addEmail() {
        const email = emailInput.value;

        if (email === '') {
            emailInput.classList.remove("input-error");
            return;
        }

        if (isValidEmail(email)) {
            assignedEmails.push(emailInput.value);

            emailInput.value = "";
            emailInput.classList.remove("input-error");

            updateEmailsList()
        } else {
            emailInput.classList.add("input-error");
        }
    }

    function updateEmailsList() {
        const emailListContainer = document.getElementById("emailListContainer");
        const emailsNumber = document.getElementById("emailsNumber");
        emailListContainer.innerHTML = "";
        emailsNumber.innerText = `(${assignedEmails.length})`;

        let anyWrong = false;
        assignedEmails.forEach((email, index) => {
            const isWrong = wrongEmails.includes(email);
            if (isWrong) anyWrong = true;

            const emailDiv = document.createElement("div");
            emailDiv.className = `rounded d-flex flex-row p-2 ${index != 0 ? "mt-2" : ""} ${isWrong ? "input-error" : "border"}`;
            emailDiv.innerHTML = `
                <span class="text-truncate me-2">${email}</span>
                <button type="button" class="ms-auto btn-close" aria-label="Close"></button>
            `;

            emailListContainer.appendChild(emailDiv);

            const deleteButton = emailDiv.querySelector("button");
            deleteButton.addEventListener("click", function (event) {
                event.preventDefault();

                const indexToRemove = parseInt(deleteButton.getAttribute("data-index"));
                assignedEmails.splice(indexToRemove, 1);
                updateEmailsList();
            });

            emailListContainer.appendChild(emailDiv);
        });

        if (anyWrong)
            validationText.classList.remove('d-none')
        else 
            validationText.classList.add('d-none')
    }

</script>
