<div class="modal fade" id="confirmLeaveModal" tabindex="-1" aria-labelledby="confirmLeaveModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="confirmLeaveModalLabel">Potwierdź akcję</h5>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz opuścić tę stronę? Utracisz niezapisane dane.
            </div>
            <div class="modal-footer justify-content-center align-items-center">
                <button type="button" class="btn btn-secondary btn-sm-width" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" id="confirmLeaveBtn" class="btn btn-danger btn-sm-width">Wyjdź</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const confirmLeaveModalElement = document.getElementById('confirmLeaveModal');
        const confirmLeaveBtn = document.getElementById('confirmLeaveBtn');

        confirmLeaveModalElement.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const targetPage = button.getAttribute('data-confirm-redirect');

            confirmLeaveBtn.onclick = function () {
                window.location.href = targetPage;
            };
        });
    });
</script>