<style>
    #errors-div {
        max-height: 350px;
        overflow-y: auto;
    }
</style>

<div class="modal fade" id="creatorErrorsPopup" tabindex="-1" aria-labelledby="creatorErrorsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="creatorErrorsModalLabel">Błędy w zadaniu</h5>
            </div>

            <div class="modal-body pb-0">
                W twoim zadaniu występują następujące błędy:

                <div id="errors-div" class="modal-body p-0 pt-3">
                </div>
            </div> 

            <div class="modal-footer justify-content-start align-items-center p-3">
                Czy chcesz je zapisać mimo to?
            </div>

            <div class="modal-footer justify-content-center align-items-center">
                <button type="button" class="btn btn-danger btn-sm-width" data-bs-dismiss="modal">Anuluj</button>
                <a id="confirmLeaveButton" class="btn btn-primary btn-sm-width">Zapisz</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const confirmLeaveModalElement = document.getElementById('creatorErrorsPopup');
        const confirmLeaveBtn = document.getElementById('confirmLeaveButton');

        confirmLeaveModalElement.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const forceSaveCallback = button.getAttribute('data-save-callback');
            const errorsDiv = document.getElementById('errors-div');
            const errors = button.getAttribute('data-html');

            errorsDiv.innerHTML = errors;

            confirmLeaveBtn.onclick = function () {
                window[forceSaveCallback]();
            };
        });
    });
</script>