@*
USER DELETE POPUP

ATRYBUTY:
    - data-user-mail: Mail użytkownika
    - data-on-delete: Callback js, wywołany przy wciśnięciu przycisku delete
*@
<div class="modal fade" id="deleteUserPopup" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="deletePopupCenterTitle" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold fs-4">Usunąć użytkownika?</h5>
                <button type="button" class="ms-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Jesteś pewny, że chcesz usunąć z tej grupy użytkownika</span>
                <span id="deletedUserMail" class="m-0">"Kartkówka 2A"?</span>
                <span>Ta akcja nie może zostać cofnięta.</span>
            </div>
            <div class="modal-footer justify-content-center align-items-center">
                <button type="button" class="btn btn-secondary btn-std-width" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-danger btn-std-width" data-bs-dismiss="modal" id="deleteUserButton">Usuń</button>
            </div>
        </div>
    </div>
</div>

<script>

    var deleteUserPopup = document.getElementById('deleteUserPopup');
    deleteUserPopup.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var userMail = button.getAttribute('data-user-mail');
        var onDelete = button.getAttribute('data-on-delete');

        var nameElement = deleteUserPopup.querySelector('#deletedUserMail');
        nameElement.textContent = '"' + userMail + '"?';

        var deleteButton = deleteUserPopup.querySelector('#deleteUserButton');
        deleteButton.setAttribute('onclick', onDelete);
    });


</script>