@*
DELETE GROUP MODAL POPUP

ATRYBUTY:
    - data-group-name: Nazwa grupy
    - data-on-delete: Callback js, wywołany przy wciśnięciu przycisku delete
*@

<div class="modal fade" id="deleteGroupPopup" tabindex="-1" role="dialog" aria-labelledby="deletePopupCenterTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePopupLongTitle">Usunąć grupę?</h5>
            </div>
            <div class="modal-body">
                <span>Jesteś pewny, że chcesz usunąć grupę</span>
                <span id="deletedGroupName" class="m-0">"Klasa 2A"?</span>
                <span>Ta akcja nie może zostać cofnięta.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteButton">Usuń</button>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteGroupPopup = document.getElementById('deleteGroupPopup');
    deleteGroupPopup.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var groupName = button.getAttribute('data-group-name');
        var onDelete = button.getAttribute('data-on-delete');

        var nameElement = deleteGroupPopup.querySelector('#deletedGroupName');
        nameElement.textContent = '"' + groupName + '"?';

        var deleteButton = deleteGroupPopup.querySelector('#deleteButton');
        deleteButton.setAttribute('onclick', onDelete);
    });
</script>