@*
HELP MODAL POPUP

ATRYBUTY:
- data-header: Text do wyśweitlenia w headerze
- data-text: Text do wyświetlenia w popupie
*@

<style>
    #helpPopup .modal-dialog {
        max-width: 650px;
    }

    #helpTipPanel {
        width: 215px;
        min-width: 215px;
    }
</style>

<div class="modal fade" id="helpPopup" tabindex="-1" role="dialog" aria-labelledby="helpPopupCenterTitle"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

    <div class=" modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-flex flex-row overflow-hidden">
            <div id="helpTipPanel"
                class="d-none d-sm-flex bg-pattern-sm text-white flex-column text-center align-items-center justify-content-center p-3">
                <span class="fw-bold fs-4 mb-1">Pomoc</span>
                <p>Pogubiłeś się w danym ekranie i nie wiesz co zrobić? Nie martw się, postaramy się jak najlepiej wytłumaczyć o co tutaj chodzi!</p>
            </div>

            <div class="flex-grow-1 d-flex flex-column">
                <div class="d-flex flex-row modal-header">
                    <span id="helpHeader" class="fw-bold fs-4">
                        
                    </span>
                    <button type="button" class="ms-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="flex-grow-1 d-flex flex-column p-3 overflow-auto" id="helpText" style="height: 300px;">
                    
                </div>

                <div class="modal-footer justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary btn-sm-width" data-bs-dismiss="modal">Dzięki!</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    const helpPopup = document.getElementById('helpPopup');

    helpPopup.addEventListener('show.bs.modal', function (event) {
        const helpModalButton = event.relatedTarget;
        
        const text = helpModalButton.getAttribute('data-text');
        const header = helpModalButton.getAttribute('data-header');
        helpPopup.querySelector('#helpText').innerHTML = text;
        helpPopup.querySelector('#helpHeader').innerText = header;
    });
</script>