@* Mati, zadanie bojowe *@

<div id="qr-code-popup" class="modal fade" style="display:none;">
    <div class="qr-code-container">
        <a href="#" onclick="hidePopup()" class="close-btn">×</a>
        <div id="qrcode"></div>
    </div>
</div>

@* Biblioteka kodu QR *@
<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>

<script>
    const QRSize = 512;

    function generateQrCode(link) {
        const qrCodeContainer = document.getElementById('qrcode');
        qrCodeContainer.innerHTML = "";

        new QRCode(qrCodeContainer, {
            text: link,
            width: QRSize,
            height: QRSize
        });
    }

    function showPopup(link) {
        document.getElementById('qr-code-popup').style.display = 'block';
        generateQrCode(link);
    }

    function hidePopup() {
        document.getElementById('qr-code-popup').style.display = 'none';
    }
</script>